.carousel {
	height:340px;
	width:720px;
}

.carousel .container {
	position: relative;
	z-index: 9;
}

.carousel-control {
	height: 80px;
	margin-top: 0;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background-color: transparent;
	border: 0;
	z-index: 10;
}

.carousel .item {
	height: 340px;
}
.carousel img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 720px;
	height: 340px;
}

.carousel-caption {
	background-color: rgba(0,0,0,.7);
    position: absolute;
    max-width: 580px;
	padding: 95px 70px;
	top: 0px;
	left: 0px;
	height: 340px;
}
.carousel-caption h3,
.carousel-caption .lead {
	margin: 0;
	line-height: 1.25;
	color: #fff;
	font-size: 2em;
	text-shadow: 0 1px 5px rgba(205,205,205,.9);
}
.carousel-caption .btn {
	margin-top: 10px;
	line-height:1em;
	color: #FFF;
	background-color: #04C;
}

@media only screen and (max-width: 720px) {

	.carousel, .carousel-inner,.carousel img {
		height:100%;
		width:100%;
	}

	.carousel img {
		min-width: 0px;
	}

	.carousel,.carousel .item,.carousel-inner {
		height: 180px;
	}
	.carousel-inner > .active{
		width:100%;
	}

	.carousel-caption{
		padding:20px 35px;
		height: 140px;
	}

	.carousel-caption h3{
		font-size:1.24em;
	}
	.carousel-caption .lead{
		font-size:1em;
		padding-bottom: 1em;
	}

	.carousel-caption .btn {
		margin-top: 0px;
		padding: 10px 11px;
		font-size: .9em;
		line-height:1em;
		color: #FFF;
		background-color: #04C;
	}

	.carousel-control {
		height: 40px;
		font-size: 60px;
		left:0;
	}
	.carousel-control.right {
		right:0;
	}

}
