.carousel {
	height:340;
	width:720px;
}
	
.carousel .container {
	position: relative;
	z-index: 9;
}

.carousel-control {
	height: 80px;
	margin-top: 0;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background-color: transparent;
	border: 0;
	z-index: 10;
}

.carousel .item {
	height: 340px;
}
.carousel img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 720px;
	height: 340px;
}

.carousel-caption {
	background-color: rgba(0,0,0,.5);
    position: absolute;
    max-width: 580px;
	padding: 95px 70px;
	top: 0px;
	left: 0px;
	height: 340px;
}
.carousel-caption h1,
.carousel-caption .lead {
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 2px 2px rgba(0,0,0,.7);
}
.carousel-caption .btn {
	margin-top: 10px;
}