
@font-face {
    font-family: "NotoSans";
    src: url(../font/NotoSansHant-Regular.otf);
}


@media only screen and (max-width: 1024px) {

	

	.LEFT{
		display:none;
	}
	
	.RIGHT{
		background-color:none;
		width:100%;
		height:auto;
		padding:0;
	}

	.right_up{
		width:100%;
		margin-top:1em;
		margin-bottom:2em;
	}
	.contact{
		background:none;
		width:100%;
		display:inline;
	}

	.contact img{
		height:15%;
		width:15%;
		margin:0 2% 0 0;
		vertical-align:middle;
	}
	
	.search_bar{
		height:30px;
		width:60%;
	}
	
	.search_bottom{
		display:none;
	}
	
	.right_up form{
		display:inline;
	}

	.right_login{
	}

	.right_login:hover > .Login{
		color:black;
	}


	.Login{
		background: url("../IMG/Login.png") left center;
		-moz-background-size: cover;
		background-size: cover;
		color:#595757;
		height:3em;
		font-size:1em;
		font-family:"微軟正黑體";
		text-align:center;
		border:1px solid gray;
		padding-top:1%;
		padding-bottom:1%;
		line-height:3em;
	}

	.right_login a{
		text-decoration: none;
	}

	.appeal{
		padding-bottom:10px;
	}

	.appeal:hover > a .complain{
		color:black;
	}

	.complain{
		background: url("../IMG/appeal.png") left center;
		-moz-background-size: cover;
		background-size: cover;
		color:#595757;
		height:3em;
		font-size:1em;
		font-family:"微軟正黑體";
		text-align:center;
		border:1px solid gray;
		padding-top:1%;
		padding-bottom:1%;
		line-height:3em;
	}



	.Dep_title{
		background-image: url("../IMG/nav_bar_pic/li.png") ;
		font-family: "NotoSans","微軟正黑體";
		-moz-background-size: cover;
		background-size: cover;
		color:white;
		font-size:1em;
		line-height:.8em;
		padding-top:1em;
		padding-bottom:1em;
		text-align:center;
	}

	.dep_list{
		height:auto;
		font-size:1em;
		text-align:left;
		
	}

	.dep_list ul a li{
		background:#ccc;
		color:black;
		font-size:.75em;
		font-weight: bold;
		font-family: "NotoSans","微軟正黑體";
		font-weight: normal;
		margin-bottom:.5em;
		line-height: 3em;
		text-decoration: none;
		border:1px solid gray;
	}

	.dep_list ul{
		list-style-type:none;
	}

	.dep_list li:hover{
		background:#555;
		color:white;
		border:1px solid gray;
		cursor:pointer;
	}
	
	.time_content{
		display:none;
	}
}


@media only screen and (min-width: 1024px) {

.LEFT{
	background-color:none;
	width: 710px;
	height:720px;
	font-size:1em;
	float:left;	
	padding:30px 55px 10px 45px;
}

.activity{
	background-color: rgba(0,0,0,1);
	width:700px;
	height:340px;
	float:left;
	margin-top:10px;
	margin-bottom:50px;
}

.every_dep{
	background-color: rgba(0,0,0,0.7);
	width:720px;
	height:340px;
	float:left;
	margin-bottom:10px;
}


.RIGHT{
	background-color:none;
	width:235px;
	height:700px;
	float:left;	
	padding:30px 45px 50px 30px;
}

.right_up{
	width:235px;
}
.contact{
	width:90px;
	display:inline;
}

.contact img{
	height:35px;
	width:35px;
	margin:0 5px 0 0;
	vertical-align:middle;
}

.search_bar{
		height:30px;
		width:90px;
}
	
.search_bottom{
	height:39px;
	width:39px;
}

img {
    height: auto;
    max-width: 100%;
}

.right_up form{
	display:inline;
}

.right_login{
	padding:15px 0 15px 0;
}

.right_login:hover > span{
	color:black;
}


.Login{
	background-image: url("../IMG/Login.png") ;
	-moz-background-size: cover;
	background-size: cover;
	color:#595757;
	height:60px;
	font-size:1em;
	font-family:"微軟正黑體";
	text-align:center;
	border-color: #595757;
	border-style: solid;
	border-width:1px;
	padding:5px 0 0 25px;
	line-height:3.5em;
}

.right_login a{
	text-decoration: none;
}

.appeal{
	padding-bottom:20px;
}

.appeal:hover > a .complain{
	color:black;
}

.complain{
	background-image: url("../IMG/appeal.png") ;
	-moz-background-size: cover;
	background-size: cover;
	color:#595757;
	height:60px;
	font-size:1em;
	font-family:"微軟正黑體";
	text-align:center;
	border-color: #595757;
	border-style:solid;
	border-width:1px;
	padding:5px 0 0 55px;
	line-height:3.5em;
}

.appeal a{
	text-decoration: none;
}


.Dep_title{
	background-image: url("../IMG/nav_bar_pic/li.png") ;
	font-family: "NotoSans","微軟正黑體";
	-moz-background-size: cover;
	background-size: cover;
	color:white;
	font-size:1em;
	line-height:1em;
	padding:15px 0 15px 0;
	text-align:center;
}

.dep_list{
	background:rgba(255,255,255,0.5);
	border-style:solid;
	border-width:1px;
    border-color: rgba(70,70,70,0.5);
	height:385px;
	font-size:1.2em;
	line-height:1.5em;
	padding-bottom:40px;
	text-align:left;
	
}

.dep_list ul a li{
	color: gray;
	font-weight: bold;
	font-family: "NotoSans","微軟正黑體";
	font-weight: normal;
	line-height:1.9em;
	text-decoration: none;
}

.dep_list ul{
	list-style-type:disc;
}

.dep_list a:hover > li{
	color:black;
}

.time_content{
	background-color: rgba(255,255,255,0.7); 
	float:left;
	width:1100px;
	height:940px;
	padding:10px 10px 0px 10px;
	margin-top:10px;
}

.calendar_title{
	font-family: "NotoSans","微軟正黑體";
	text-align:center;
	color: DarkBlue ;
	font-size:1.5em;
}

.time_content hr{
	color: DarkBlue ;
}

.calendar{
	background-color: rgba(255,255,255,0.7);  
	float:left;
	max-width:1000px;  
	height:800px;
	padding:30px 55px 20px 55px;
}

.whatsnext{
	background-color: rgba(255,255,255,0.7);
	float:right;
	width:350px;
	height:570px;
	padding:10px 0px 10px  0px;
}
}