.small_nav_bar li, li a{
	color:white;
	text-decoration:none;
}

.small_nav_bar{
	background: url("../IMG/nav_bar_pic/li.png") ;
	-moz-background-size: cover;
	background-size: cover;
	color:white;
	width:72%;
	height:1em;
	padding:0.5em;
	display:inline-block;
}

.main-botton{
	height:1em;
	padding:0.5em 0.5em;
}

.botton{
	background: url("../IMG/nav_bar_pic/li.png") ;
	-moz-background-size: cover;
	background-size: cover;
	color:white;
	display:inline-block;
	width:13%;
	z-index:1;
}

.dropdown-toggle{
	position:absolute;
	top:-100em;
	padding-bottom:0;
	margin-left:0;
}

.choice{
	background: url("../IMG/nav_bar_pic/li.png");
	opacity:0.9;
	filter:alpha(opacity=90); /* 针对 IE8 以及更早的版本 */
	list-style-type:none;
	padding:0.5em 0;
}

ul.dropdown-toggle ul.sub_menu{
	padding-bottom:0;
	margin-left:0;
}

.hide_section{
	background: url("../IMG/nav_bar_pic/li.png");
	opacity:0.8;
	filter:alpha(opacity=80); /* 针对 IE8 以及更早的版本 */
	list-style-type:none;
	padding:0.5em 0;
}