---
layout: page
title: 新聞部
photo1: /image/people/info_pre.jpg;
photo2: /image/people/info_vpre.jpg;
permalink: /newsdp/
---

<hr>
{% for post in site.posts %}
{% if post.department == "新聞部"  %}
{% if post.department %}
<li>
  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

  <h3>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      {{ post.department }} {% if post.department %}-{% endif %} {{ post.title }}
    </a>
  </h3>

  <hr />
</li>
{% endif %}
{% endif %}
{% endfor %}
