---
---

$blue: #6462FD;
$dark-blue: #252257;
$yellow: #F8D02D;

html, body {
	background: url("/image/texture.png") $blue;
	font-family: Arial,"Source Han Sans TW","文泉驛正黑","WenQuanYi Zen Hei","儷黑 Pro","LiHei Pro","微軟正黑體","Microsoft JhengHei","標楷體",DFKai-SB,sans-serif;
	margin: 0;
	padding: 0;
}

#page {
	display: flex;
	flex-direction: column;
	margin: 2rem auto 3rem;
	max-width: 1024px;
	min-height: 89vh;
}

header {
	background: $yellow;
	padding: .25rem;

	h1 {
		display: block;
		margin: 0;

		a {
			color: $blue;
			display: block;
			text-decoration: none;

			img {
				vertical-align: text-bottom;
				width: 100%;
			}
		}
	}
	nav {
		display: block;
		vertical-align: top;
		text-align: right;

		/*
		&::before {
			color: $blue;
			content: "|";
			width: 0;
			display: inline-block;
			font-size: 1rem;
		}
		*/

		h2 {
			display: none;
		}
		#nav-trigger {
			display: none;
		}
		ul.list {
			display: inline-block;
			margin: .5rem auto;
			padding-right: 2rem;

			> li {
				display: inline-block;

				a {
					color: $blue;
					display: block;
					font-size: 1rem;
					letter-spacing: 2px;
					text-decoration: none;
					transition-duration: .2s;
					padding: .5rem 1.5rem;

					&:hover {
						background: $blue;
						color: $yellow;
						font-weight: bold;
					}
				}

				.sub_list {
					display: none;
				}

				.trigger_sublist:hover + .sub_list, .sub_list:hover {
					background: $yellow;
					display: block;
					list-style-type: none;
					margin-left: 1.2rem;
					padding: 0;
					position: absolute;
				}
			}
		}
	}
}

main {
	background: #fff;
	flex: 1;
	margin: 0 auto;
	width: 100%;

	.banner {

	}

	.content {
		padding: 1rem 4%;
	}

	* {
		color: #343434;
	}

	h2 {
		border-bottom: 1px solid $blue;
		color: $blue;
		width: 75%;
		padding-bottom: .5rem;
	}

	h3 {
		background: $blue;
		color: #fff;
		display: inline-block;
		font-weight: normal;
		padding: 0 .25rem;
	}
	p {
		color: #343434;
	}

	a {
		border-bottom: 1px dashed #ccc;
		color: $blue;
		text-decoration: none;
	}

	img {
		max-width: 100%;
	}

	.member {
		li {
			text-align: center;
			display: inline-block;
			margin: 1rem 2rem;

			img {
				display: block;
			}
		}
	}

	#fb_posts {
		list-style-type: none;
		margin: 0;
		padding: 1rem 0 0;

		li.post {
			img {
				vertical-align: bottom;
				height: 27px;
				width: 20px;
				margin-right: .5rem;
			}
			a {
				text-decoration: none;

				p {
					margin-bottom: 3rem;
				}
			}
		}
	}



}

footer {
	background: url("/image/discuss.png") no-repeat no-repeat right top $dark-blue;
	color: #fff;
	font-size: .75rem;
	line-height: 1.25rem;
	padding: 15px 3rem;

	.title {
		font-weight: bold;
	}
}

