<nav>
	<h2>Navigation</h2>
	<input type="checkbox" id="nav-trigger" />
	<label for="nav-trigger"></label>
	<ul class="list">
		<li><a href="/">最新消息</a></li>
		<li>
			<a href="#" class="trigger_sublist">關於學生會</a> <!-- Toggle -->

				<ul class="sub_list">
					<li><a href="/org.html">組織架構</a></li>
					<li><a href="/dep_intro.html">部門介紹</a></li>
					<li><a href="/law.html">自治規程</a></li>
				</ul>
		</li>
		<li><a href="/dl.html">文件下載</a></li>
		<li><a href="/link.html">友站連結</a></li>
		<li><a href="/contact.html">聯絡我們</a></li>

		<!--
		<li><a href="#">議題流變</a></li>
		-->

	</ul>
</nav>
