<div class="nav_bar small_hide">
  <ul id="sdt_menu" class="sdt_menu">
    <li>
      <a href="/">
        <img src="http://sa.sa.ntnu.edu.tw/image/nav_bar_pic/1.gif" alt="首頁"/>
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
          <span class="sdt_link">首頁</span>
        </span>
      </a>
    </li>
    <li>
      <a href="/about">
        <img src="http://sa.sa.ntnu.edu.tw/image/nav_bar_pic/2.gif" alt="關於學生會"/>
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
          <span class="sdt_link">關於學生會</span>
        </span>
      </a>
      <div class="sdt_box" style="left: 0px; display: none;height:120px;">
        <a href="/org">組織架構</a>
        <a href="/law">自治規程</a>
        <a href="/intro">部門介紹</a>
      </div>
    </li>
    <li>
      <a href="/deps" style="left: 0px;">
        <img src="http://sa.sa.ntnu.edu.tw/image/nav_bar_pic/3.gif" alt="最新消息"/>
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
          <span class="sdt_link">最新消息</span>
        </span>
      </a>
      <div class="sdt_box" style="height:320px;">
        <a href="/deps/president">會長 / 副會長</a>
        <a href="/deps/secretariat">秘書處</a>
        <a href="/deps/public">公關部</a>
        <a href="/deps/activity">活動部</a>
        <a href="/deps/right">權益部</a>
        <a href="/deps/newsdp">新聞部</a>
        <a href="/deps/academic">學術部</a>
        <a href="/deps/finance">財務部</a>
        <a href="/deps/publication">文宣部</a>
        <a href="/deps/info">資訊部</a>
      </div>
    </li>
    <li>
      <a href="/dl">
        <img src="http://sa.sa.ntnu.edu.tw/image/nav_bar_pic/4.gif" alt="文件下載"/>
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
          <span class="sdt_link">文件下載</span>
        </span>
      </a>
    </li>
    <li>
      <a href="/links">
        <img src="http://sa.sa.ntnu.edu.tw/image/nav_bar_pic/5.gif" alt="友站連結"/>
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
          <span class="sdt_link">友站連結</span>
        </span>
      </a>
    </li>
    <li>
      <a href="/contact">
        <img src="http://sa.sa.ntnu.edu.tw/image/nav_bar_pic/6.gif" alt="聯絡我們"/>
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
          <span class="sdt_link">聯絡我們</span>
        </span>
      </a>
    </li>
    <li>
      <a href="/chatroom">
        <img src="http://sa.sa.ntnu.edu.tw/image/nav_bar_pic/7.gif" alt="討論區"/>
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
          <span class="sdt_link">討論區</span>
        </span>
      </a>
    </li>
  </ul>
</div>
