div.chat {
  ol {
      padding-left: 2em;
    li {
      padding-bottom: 2em;
      font-size: 1.5em;
      img {
        border: 1px solid #aaa;
      }
    }
  }
  hr {
    margin-bottom: 2em;
  }
}
