@media only screen and (max-width: 720px) {
  .boxes{
    height:auto;
    margin-bottom:15px;
  }
  .box{
    width:100%;
    background:rgba(255,255,255,0.5);
    display:inline-block;
    border-radius:15%;
    transition-duration: 0.5s;
  }
  .box h3{
    text-align:center;
  }
  .box img{
    height:auto;
    margin:5px;
    border-radius:45px;
  }
  .pic1 img,.pic2 img{width:33%;}
  .pic3 img{width:28%;}
}
@media only screen and (min-width: 720px) {
  .boxes{
    padding:30px;
    text-align: center;
  }
  .boxes a:hover .box{
    background:rgba(255,255,255,0.9);
    box-shadow:0px 0px 15px -5px gray;
  }
  .box{
    background:rgba(255,255,255,0.5);
    display:inline-block;
    padding:15px;
    margin:15px;
    border-radius:15px;
    transition-duration: 0.5s;
  }
  .box h3{
    text-align:center;
  }
  .box img{
    height:90px;
    width:90px;
    margin:5px;
    border-radius:45px;
  }

}
