@import "susy/language/susy";

$susy: (
columns: 4,
math: fluid,
output: float,
gutter-position: inside,
global-box-sizing: border-box,
debug: (
image: show,
color: rgba( green, 0.5))
);
@include border-box-sizing;

/**
 * Site header
 */

body{
  > *{
    margin:0 auto;
  }
}

.site-header {
    width: 1165.9425px;
    padding: $spacing-unit/2 0;
    border-radius: 10px 10px 0px 0px;
    text-align:center;
    background-color: rgba(255,255,255,0.5);
    .wrapper >  a{
      display:block;
      border-radius: 10px 10px 0px 0px;
      width:100%;
      img {
        padding-top: 20px;
        padding-bottom: 32px;
      }
    }
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    margin-bottom: 0;
}

.site-nav {
    width: 100%;
    float: left;
    line-height: 48px;

    .menu-icon {
        display: none;
    }

    .page-link {
        padding: 0 2em;
        display: inline-block;
        background: url("../image/nav_bar_pic/li.png") no-repeat scroll right bottom transparent;
        opacity: 0.9;
        color: #fff;
        height: 100%;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 0px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
          text-align: center;
            width: 100%;
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
  width: 1165.9425px;
  padding: 10px 0;
  margin-bottom: 40px;
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.5);
  .license {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    color: #777;
  }
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    width: 1165.9425px;
    padding: $spacing-unit/2 0;
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.5) repeat scroll 0% 0%;

    .wrapper{
      padding: 30px 45px;
    }

}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    p {
        padding-bottom: 1.5em;
    }

    ul,ol{
      padding-bottom: 1.5em;
    }
}
