ul.sdt_menu{
  width: span(5 wide of 5);
  margin: 0;
  padding:0;
  list-style: none;
  font-family: "Myriad Pro","Trebuchet MS", sans-serif;
  font-size:14px;
  text-align: center;
  &:hover > a{
    color:gray;
  }
  a{
    color:white;
    text-decoration:none;
    outline:none;
    &:hover{
      color:gray;
    }
  }
  li{
    float:left;
    width: span(1 wide of 5);
    height:45px;
    position:relative;
    cursor:pointer;
    &:hover a{
      color : gray;
    }
    > a{
      display: block;
      min-height: 100%;
      height: auto;
      width: span(5 wide of 5);
      z-index:32;
      background:url(http://sa.sa.ntnu.edu.tw/image/nav_bar_pic/li.png) no-repeat bottom right;
      opacity: 0.85;
      img{
        width:0px;
        height:0px;
        position:absolute;
        bottom:0px;
        z-index:100;
      }
    }
    span{
      &.sdt_wrap{
        width: span(1 wide of 1);
        position: absolute;
        left:0px;
        z-index:35;
      }
      &.sdt_active{
        width: span(1 wide of 1);
        height: 0px;
        position: absolute;
        top: 45px;
        left: 0px;
        background: rgba(255,255,255,0.9);
        z-index:34;
        box-shadow:0px 0px 1px #000 inset;
      }
      span.sdt_link{
        width: span(1 wide of 1);
        font-size:18px;
        &:hover{
          color:black;
        }
      }
    }
    div.sdt_box{
      display: none;
      min-width: 146px;
      width: span(3 wider of 3);
      position:absolute;
      top:45px;
      left:0px;
      overflow:hidden;
      background: rgba(255,255,255,0.9);
      z-index:40;
      box-shadow:0px 0px 5px #777;
      a{
        margin: 0 auto;
        display: block;
        line-height: 2.1em;
        color:gray;
        &:first-child{
          margin-top: 1em;
        }
        &:hover{
          color:black;
        }
      }
    }
  }
}

@include media-query($on-palm) {
  ul.sdt_menu{
    text-align: center;
    height: 320px;
    clear: both;
    display: block;
    width: span(1 wide of 1);
    li{
      width: span(1 wide of 1);
      display: block;
      > a{
        width: span(2 wide of 3);
        color: gray;
        background-image: none;
        border-bottom: 1px solid $grey-color-light;
        margin: 0 auto;
      }
      span.sdt_active, div.sdt_box{
        display: none;
      }
    }
  }
}
