<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>

<script src="http://sa.sa.ntnu.edu.tw/javascript/jquery.min.js"></script>
<script type="text/javascript" src="http://sa.sa.ntnu.edu.tw/javascript/nav_bar.js"></script>
<script type='text/javascript' src='http://sa.sa.ntnu.edu.tw/javascript/nav_bar_function.js'></script>
<script type="text/javascript" src="http://sa.sa.ntnu.edu.tw/javascript/slideshow.js"></script>
<script type="text/javascript" src="http://sa.sa.ntnu.edu.tw/javascript/search.js"></script>
