<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>

<script src="http://127.0.0.1:4000/javascript/jquery.min.js"></script>
<script type="text/javascript" src="http://127.0.0.1:4000/javascript/nav_bar.js"></script>
<script type="text/javascript" src="http://127.0.0.1:4000/javascript/nav_bar_function.js"></script>
<script type="text/javascript" src="http://127.0.0.1:4000/javascript/slideshow.js"></script>
