<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
	<meta charset="UTF-8">
	<title>師大學生會</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<script src="./js/fetch.js"></script>
</head>
<body>

	<div id="page">
		<header>
			<h1><a href="/"><img class="banner" src="/image/banner.png" alt="師大學生會"></a></h1>
			{% include nav.html %}
		</header>
		<main>
			<div class="content">
				{{ content }}
			</div>
		</main>
		<footer>
			<p class="title">國立臺灣師範大學學生自治會 National Taiwan Normal University Student Association</p>
			<p>臺北市大安區和平東路一段129號 <br />臺師大校本部圖書館校區綜合大樓4樓</p>
			<p>4F., No.129, NTNU-Union Building <br />Sec. 1, Heping E. Rd., Da'an Dist., Taipei City 106, Taiwan</p>
		</footer>
	</div>

</body>
</html>
